<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SISLOGUCAB</title>
    <link rel="stylesheet" type="text/css" href="~/Content/xd.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<img class="imagen" src="~/Content/sislog.png" alt="Logo">
    <br />
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <ul class="hola">
                <li class="a">@Html.ActionLink("Acerca de nosotros", "About", "Home")</li>
                <li class="b">@Html.ActionLink("Ayuda", "About", "Home")</li>
                <li class="c">@Html.ActionLink("Contacto", "Contact", "Home")</li>
            </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

