

<ul class="hola">
    <li style="margin-right:8%">@Html.ActionLink("Home", "IndexAdmin", "Admin")</li>
    <li style="margin-right:8%">@Html.ActionLink("Oficinas", "IndexOficina", "Oficinas")</li>
    <li style="margin-right:8%">@Html.ActionLink("Paquetes", "", "Home")</li>
    @*<li>@Html.ActionLink("Vehículos", "Contact", "Home")</li>
        <li>@Html.ActionLink("Pagos", "Contact", "Home")</li>
        <li>@Html.ActionLink("Admin", "Contact", "Home")</li>*@
</ul>
