
@{
    string name = ViewBag.name;
    string nameRol = ViewBag.rol;
}
<p> Bienvenido de nuevo, @ViewBag.name (@ViewBag.rol) <a style="color:red" href='@Url.Action("Salir", "Home")'>Cerrar sesión</a> </p>
<div class="hola">
    <ul class="hola">
        <li style="margin-right:8%">@Html.ActionLink("Home", "IndexAdmin", "Admin", new { viewba = ViewBag.name }, null)</li>
        @{
            if ((nameRol == "Admin") || (nameRol == "Supervisor"))
            {
                <li style="margin-right:8%">@Html.ActionLink("Oficinas", "IndexOficina", "Oficinas", new { viewba = ViewBag.name }, null)</li>
                <li style="margin-right:8%">@Html.ActionLink("Vehiculos", "IndexVehiculo", "Vehiculo", new { viewba = ViewBag.name }, null)</li>
                <li style="margin-right:8%">@Html.ActionLink("Empleados", "IndexEmpleado", "Empleado", new { viewba = ViewBag.name }, null)</li>
            }
        }
        <li style="margin-right:8%">@Html.ActionLink("Clientes", "IndexCliente", "Cliente", new { viewba = ViewBag.name }, null)</li>
        <li style="margin-right:8%">@Html.ActionLink("Clientes L-VIP", "LVIP", "Cliente", new { viewba = ViewBag.name }, null)</li>
        @{
            if (nameRol == "Admin")
            {
                <li style="margin-right:8%">@Html.ActionLink("Roles", "IndexRol", "Rol", new { viewba = ViewBag.name }, null)</li>
                <li style="margin-right:8%">@Html.ActionLink("Usuarios", "IndexUsuario", "Usuario", new { viewba = ViewBag.name }, null)</li>
            }
        }
        
    </ul>
</div>
<div class="hola">
    <ul class="hola">
        @{
            <li style="margin-right:8%">@Html.ActionLink("RUTAS", "IndexRuta", "Ruta", new { viewba = ViewBag.name }, null)</li>
            <li style="margin-right:8%">@Html.ActionLink("Enviar paquete", "IndexEnvio", "EnviarPaquete", new { viewba = ViewBag.name }, null)</li>
            <li style="margin-right:8%">@Html.ActionLink("Asistencia", "AsistenciaEmpleado", "Empleado", new { viewba = ViewBag.name }, null)</li>

            if ((nameRol == "Admin") || (nameRol == "Supervisor"))
            {
                <li style="margin-right:8%">@Html.ActionLink("REPORTES", "IndexReporte", "Reporte", new { viewba = ViewBag.name }, null)</li>
            }
        }
    </ul>
</div>