<div class="hola">
    <ul class="hola">
        <li style="margin-right:8%">@Html.ActionLink("Home", "IndexAdmin", "Admin")</li>
        <li style="margin-right:8%">@Html.ActionLink("Oficinas", "IndexOficina", "Oficinas")</li>
        <li style="margin-right:8%">@Html.ActionLink("Vehiculos", "IndexVehiculo", "Vehiculo")</li>
        <li style="margin-right:8%">@Html.ActionLink("Clientes", "IndexCliente", "Cliente")</li>
        <li style="margin-right:8%">@Html.ActionLink("Empleados", "IndexEmpleado", "Empleado")</li>
        <li style="margin-right:8%">@Html.ActionLink("Roles", "IndexRol", "Rol")</li>
        <li style="margin-right:8%">@Html.ActionLink("Usuarios", "IndexUsuario", "Usuario")</li>
        <li style="margin-right:8%">@Html.ActionLink("RUTAS", "IndexRuta", "Ruta")</li>        
    </ul>
    <ul class="hola">
        <li style="margin-right:8%">@Html.ActionLink("Enviar paquete", "IndexReporte", "Reporte")</li>
        <li style="margin-right:8%">@Html.ActionLink("REPORTES", "IndexReporte", "Reporte")</li>
    </ul>
</div>