@model IEnumerable<bd1.Models.Rol>

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("MenuSuperior", new { viewba = ViewBag.name });
<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>ROLES</b></p>
</div>

@using (Html.BeginForm("BuscarRol", "Rol",
           FormMethod.Post))
{
    @*@Html.Action("TBOficina");*@
    <input type="submit" value="Buscar" />
    <input type="button" style="float:right" value="Eliminar Rol"
           onclick="location.href='@Url.Action("EliminarRol", "Rol")'" />
    <input type="button" style="float:right; margin-right:1%" value="Agregar Rol"
           onclick="location.href='@Url.Action("AgregarRol", "Rol")'" />
}
<br />
<div class="jumbotron">
    <table class="table table-bordered table-hover" style="border-spacing:5px;">
        <thead style="background:lightgray">
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Nombre
                </th>
            </tr>
        </thead>

        @foreach (var oficina in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@oficina.COD.ToString(), "ModificarRol", "Rol", new { id = @oficina.COD }, null)
                    @*<a style="font-size:160%" href="@Url.Action("ModificarOficina", "Oficinas")">@oficina.cod</a>*@
                </td>
                <td>
                    <p>@oficina.Nombre</p>
                </td>
            </tr>
        }

    </table>
</div>



