@model bd1.Models.ModeloPaquete
@{
    ViewBag.Title = "AgregarRuta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="hola">
    <li>@Html.ActionLink("Home", "Homempleado", "Home")</li>
    <li>@Html.ActionLink("Envíos", "Menuenvios", "Home")</li>
    <li>@Html.ActionLink("Vehículos", "Pantallavehiculosadmin", "Home")</li>
    <li>@Html.ActionLink("Pagos", "Contact", "Home")</li>
    <li>@Html.ActionLink("Admin", "Menuadmin", "Home")</li>
</ul>
<p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px; text-align: center;">Agregar Ruta <p />
<div class="jumbotron">
    @using (Html.BeginForm("Enviarpaquete", "Home",
                FormMethod.Post))
    {
        <p>
            @Html.TextBoxFor(m => m.Numguia, new { @class = "form-control", placeholder = "Origen" })
        </p>


        <p>
            @Html.TextBoxFor(m => m.Peso, new { @class = "form-control", placeholder = "Destino" })
        </p>
        <p>
            @Html.TextBoxFor(m => m.Destino, new { @class = "form-control", placeholder = "Ruta perteneciente" })
        </p>
        


        <div>
            <input type="submit" value="Agregar" />



            <input type="button" value="Regresar" onclick="location.href='@Url.Action("Pantallavehiculosadmin", "Home")'" />
        </div>
    }
</div>
<br />

