
@{
    ViewBag.Title = "Menuadmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="hola">
    <li>@Html.ActionLink("Home", "Homeadmin", "Home")</li>
    <li>@Html.ActionLink("Envíos", "Menuenvios", "Home")</li>
    <li>@Html.ActionLink("Vehículos", "Pantallavehiculosadmin", "Home")</li>
    <li>@Html.ActionLink("Pagos", "Contact", "Home")</li>
    <li>@Html.ActionLink("Admin", "Menuadmin", "Home")</li>
</ul>
<p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px; text-align: center;border-style: solid;
  border-width: 1px;">ADMIN <p />


<div style="background-color: lightgray;border-style: solid;
  border-width: 1px;">
    <a style="text-align: justify;border-style: solid;
  border-width:1px;">@Html.ActionLink("Gestión de vehículos", "About", "Home")</a>
    <p style="color: black; padding: 15px; font-size: 15px;"><b>Administra todos los vehículos</b><p />
</div>

<div style="background-color: lightgray;border-style: solid;
  border-width: 1px;">
    <a style="text-align: justify;">@Html.ActionLink("Registro de empleados, control de horarios y zonas de trabajo", "Enviarpaquete", "Home")</a>
    <p style="color: black; padding: 15px; font-size: 15px;"><b>Permite gestionar los empleados, sus horarios y sus zonas de trabajo</b><p />
</div>

<div style="background-color: lightgray;border-style: solid;
  border-width: 1px;">
    <a style="text-align: justify;">@Html.ActionLink("Reportes", "About", "Home")</a>
    <p style="color: black; padding: 15px; font-size: 15px;"><b>Permite ver la información de la empresa</b><p />
</div>

<div style="background-color: lightgray;border-style: solid;
  border-width: 1px;">
    <a style="text-align: justify;">@Html.ActionLink("Gestión de Rutas", "About", "Home")</a>
    <p style="color: black; padding: 15px; font-size: 15px;"><b>Permite administrar rutas, su costo y duración</b><p />
</div>
<br />

