@model bd1.Models.Usuario

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<body>

    <div class="jumbotron">
        <h1>Bienvenido/a a SISLOG UCAB</h1>

        @ViewBag.Message
        @using (Html.BeginForm("buscando", "Home", FormMethod.Post))
        {
            <p>
                @Html.TextBoxFor(m => m.username, new { @class = "form-control", placeholder = "username" })
            </p>
            <p>
                @Html.PasswordFor(model => model.contrasena, new { @class = "form-control", placeholder = "contrasena" })
            </p>
            <p>
                @Html.RadioButtonFor(m => m.Rol, "Cliente", true) Cliente
                @Html.RadioButtonFor(m => m.Rol, "Empleado", false) Empleado
            </p>
            <br/>
            <div>
                <input type="submit" value="Entrar" />

                <input type="button" value="Registrar Cliente" onclick="location.href='@Url.Action("Registro", "Register", new { ID = "RegistroC" })'" />
                <input type="button" value="Registrar Empleado" onclick="location.href='@Url.Action("Registro", "Register", new { ID = "RegistroE" })'" />
            </div>


        }

        <div>

        </div>

    </div>

</body>
