@model IEnumerable<bd1.Models.Oficina>

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string name = ViewBag.name;

}

@Html.Action("MenuSuperior", "Cliente", new { viewba = ViewBag.name });
<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>OFICINAS</b></p>
</div>

@using (Html.BeginForm("BuscarOficina", "Oficinas",
           FormMethod.Post))
{
    @Html.Action("TBOficina");
    <input type="submit" value="Buscar" />
    <input type="button" style="float:right" value="Eliminar Oficina"
           onclick="location.href='@Url.Action("EliminarOficina", "Oficinas")'" />
    <input type="button" style="float:right; margin-right:1%" value="Agregar Oficina"
           onclick="location.href='@Url.Action("AgregarOficina", "Oficinas")'" />
}
<br />
<div class="jumbotron">
    <table class="table table-bordered table-hover" style="border-spacing:5px;">
        <thead style="background:lightgray">
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Correo
                </th>
                <th>
                    Capacidad
                </th>
                <th>
                    Almacenamiento
                </th>
            </tr>
        </thead>

        @foreach (var oficina in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@oficina.cod.ToString(), "ModificarOficina", "Oficinas", new { id = @oficina.cod }, null)
                    @*<a style="font-size:160%" href="@Url.Action("ModificarOficina", "Oficinas")">@oficina.cod</a>*@
                </td>
                <td>
                    <p>@oficina.nombre</p>
                </td>
                <td>
                    <p>@oficina.correo</p>
                </td>
                <td>
                    <p>@oficina.capacidad</p>
                </td>
                <td>
                    <p>@oficina.almacenamiento</p>
                </td>
            </tr>
        }

    </table>
</div>


