@model bd1.Models.Barco

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("MenuSuperior");
<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>OFICINAS - BARCOS</b></p>
</div>
<div class="jumbotron">
    <h2>Modificando Oficina</h2>
    <br />
    @using (Html.BeginForm("ModificarBarco", "Vehiculo",
    FormMethod.Post))
    {

        <p>
            @Html.EditorFor(m => m.placa, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
        </p>
        <p>
            @Html.TextBoxFor(model => model.serialMotor, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBoxFor(m => m.capacidad, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBoxFor(model => model.peso, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBoxFor(model => model.serialCarroceria, new { @class = "form-control" })
        </p>
        <p>
            <h5>Fecha de Creacion:</h5>

            @Html.TextBoxFor(model => model.fechaCreacion, new { @class = "form-control", @type = "date" })
        </p>
        <p>
            @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
        </p>
        <div>
            <input type="submit" value="Modificar" />
            <input type="button" value="Regresar" onclick="location.href='@Url.Action("IndexBarco", "Vehiculo")'" />
        </div>
    }
</div>







