@model IEnumerable<bd1.Models.Ruta>

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string name = ViewBag.name;
    string rol = ViewBag.rol;
}

@Html.Action("MenuSuperior", new { viewba = ViewBag.name });
<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>RUTAS</b></p>
</div>

@using (Html.BeginForm("BuscarRuta", "Ruta",
           FormMethod.Post))
{
    @*@Html.Action("TBOficina");*@
    @*<input type="submit" value="Buscar" />*@
    if ((rol == "Admin") || (rol == "Supervisor"))
    {
        <input type="button" value="Agregar Ruta"
               onclick="location.href='@Url.Action("AgregarRuta", "Ruta")'" />
        <input type="button" value="Eliminar Ruta"
               onclick="location.href='@Url.Action("EliminarRuta", "Ruta")'" />
    }
    else
    {
        if ((rol == "Admin") || (rol == "Supervisor") || (rol == "Cajero"))
        {
            <input type="button" value="Agregar Ruta"
                   onclick="location.href='@Url.Action("AgregarRuta", "Ruta")'" />
        }
    }
}
<br />
<div class="jumbotron">
    <table class="table table-bordered table-hover" style="border-spacing:5px;">
        <thead style="background:lightgray">
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Oficina de Origen
                </th>
                <th>
                    Oficina Destino
                </th>
                <th>
                    Costo
                </th>
            </tr>
        </thead>

        @foreach (var oficina in Model)
        {
            <tr>
                <td>
                    @if ((rol == "Admin") || (rol == "Supervisor"))
                    {
                        @Html.ActionLink(@oficina.COD.ToString(), "ModificarRuta", "Ruta", new { id = @oficina.COD }, null)
                    }
                    else
                    {
                        <p>@oficina.COD</p>
                    }
                </td>
                <td>
                    <p>@oficina.origen</p>
                </td>
                <td>
                    <p>@oficina.destino</p>
                </td>
                <td>
                    <p>@oficina.costo</p>
                </td>
            </tr>
        }

    </table>
</div>



