@model bd1.Models.Ruta

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("MenuSuperior", new { viewba = ViewBag.name });
<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>RUTAS</b></p>
</div>
<div class="jumbotron">
    <h2>Modificando Ruta</h2>
    <br />
    @using (Html.BeginForm("ModificarRuta", "Ruta",
    FormMethod.Post))
    {
        <p>
            @Html.EditorFor(m => m.COD, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
        </p>
        @Html.Action("Sucursal");
        <p>
            @Html.TextBoxFor(model => model.costo, new { @class = "form-control", placeholder = "Duracion" })
        </p>
        <div>
            <input type="submit" value="Modificar" />
            <input type="button" value="Regresar" onclick="location.href='@Url.Action("IndexRuta", "Ruta")'" />
        </div>
    }
</div>

