
@model bd1.Models.Usuario

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("MenuSuperior", new { viewba = ViewBag.name });
<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>EMPLEADOS</b></p>
</div>
<div class="jumbotron">
    <h2>Agregando Empleado</h2>
    <br />
    @using (Html.BeginForm("AgregarEmpleado", "Empleado",
    FormMethod.Post))
    {
        <h3>Informacion del Usuario</h3>
        <p>
            @Html.TextBoxFor(m => m.username, new { @class = "form-control", placeholder = "Usuario" })
        </p>
        <p>
            @Html.PasswordFor(model => model.contrasena, new { @class = "form-control", placeholder = "Contraseña" })
        </p>
        @*<p>
                @Html.PasswordFor(model => model., new { @class = "form-control", placeholder = "Verificar contraseña" })
            </p>*@
        @Html.Action("Empleado");
        @Html.Action("Rol");
        @Html.Action("OficinaEmpDD", "Empleado");
        @Html.Action("HorarioDD", "Empleado");
        <div>
            <input type="submit" value="Registrar" />
            <input type="button" value="Regresar" onclick="location.href='@Url.Action("IndexEmpleado", "Empleado")'" />
        </div>
    }
</div>






