@model IEnumerable<bd1.Models.Empleado>

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("MenuSuperior", new { viewba = ViewBag.name });
<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>EMPLEADOS</b></p>
</div>

@using (Html.BeginForm("BuscarEmpleado", "Empleado",
           FormMethod.Post))
{
    @Html.Action("TBCliente");
    <input type="submit" value="Buscar" />
    <input type="button" style="float:right" value="Eliminar Empleado"
           onclick="location.href='@Url.Action("EliminarEmpleado", "Empleado")'" />
    <input type="button" style="float:right; margin-right:1%" value="Agregar Empleado"
           onclick="location.href='@Url.Action("AgregarEmpleado", "Empleado")'" />
}
<br />
<div class="jumbotron">
    <table class="table table-bordered table-hover" style="border-spacing:5px;">
        <thead style="background:lightgray">
            <tr>
                <th>
                    Cedula
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Salario
                </th>
                <th>
                    Fecha de Nacimiento
                </th>
            </tr>
        </thead>

        @foreach (var empleado in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(empleado.CI.ToString(), "ModificarEmpleado", "Empleado", new { id = empleado.CI }, null)
            </td>
            <td>
                <p>@empleado.Nombre</p>
            </td>
            <td>
                <p>@empleado.Apellido</p>
            </td>
            <td>
                <p>@empleado.salarioAsig</p>
            </td>
            <td>
                <p>@empleado.fechaNac</p>
            </td>
        </tr>
        }

    </table>
</div>




