@model bd1.Models.Empleado

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("MenuSuperior", new { viewba = ViewBag.name });
<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>EMPLEADOS</b></p>
</div>
<div class="jumbotron">
    <h2>Modificando Cliente</h2>
    <br />
    @using (Html.BeginForm("ModificarEmpleado", "Empleado",
    FormMethod.Post))
    {
        <p>
            @Html.EditorFor(m => m.CI, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
        </p>
        <p>
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control" })
        </p>
        <p>
            <h5>Fecha de Nacimiento:</h5>
            @Html.TextBoxFor(model => model.fechaNac, new { @class = "form-control", @type = "date" })
        </p>
        <p>
            @Html.TextBoxFor(model => model.correo, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBoxFor(model => model.telefono, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBoxFor(model => model.nivelAca, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBoxFor(model => model.profesion, new { @class = "form-control" })
        </p>
        <p>
            <select name="estCivil" id="estCivil">
                <option value="Soltero">
                    Soltero/a
                </option>
                <option value="Casado">
                    Casado/a
                </option>
                <option value="Divorciado">
                    Divorciado/a
                </option>
                <option value="Viudo">
                    Viudo/a
                </option>

            </select>
        </p>
        <p>
            @Html.TextBoxFor(model => model.cantHijos, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBoxFor(model => model.correoEmp, new { @class = "form-control" })
            <span class="inline">@@LogUCAB.com</span>
        </p>
        <p>
            @Html.TextBoxFor(model => model.salarioAsig, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBoxFor(model => model.fechaContratado, new { @class = "form-control", @type = "date" })
        </p>
        <div>
            <input type="submit" value="Modificar" />
            <input type="button" value="Regresar" onclick="location.href='@Url.Action("IndexEmpleado", "Empleado")'" />
        </div>
    }
</div>







