@model bd1.Models.ModeloRegistro

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Registro de empleados nuevos</h2>

<div class="jumbotron">

    
    @using (Html.BeginForm("Index", "Home",
            FormMethod.Post))
    {
        <p>
            @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", placeholder = "Usuario" })
        </p>
        <p>
            @Html.PasswordFor(model => model.Contrasena, new { @class = "form-control", placeholder = "Contraseña" })
        </p>
        <p>
            @Html.PasswordFor(model => model.ContrasenaConfirmar, new { @class = "form-control", placeholder = "Verificar contraseña" })
        </p>
        <p>
            @Html.TextBoxFor(m => m.Correoelectronico, new { @class = "form-control", placeholder = "Correo electrónico" })
        </p>
        <p>
            @Html.TextBoxFor(m => m.CedulaIdentidad, new { @class = "form-control", placeholder = "Cédula de identidad" })
        </p>
        <p>
            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", placeholder = "Teléfono" })
        </p>

        <div>
            <input type="submit" value="Registro"  />



            <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index", "Home")'" />
        </div>


    }




</div>