@model IEnumerable<bd1.Models.Vehiculo>

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px">
        <b>
            Listado de aeropuertos con la información base.
        </b>
    </p>
</div>

<br />
<div class="jumbotron">
    <div>
        <input type="button" value="Regresar" onclick="location.href='@Url.Action("IndexReporte", "Reporte")'" />
    </div>
    <br />
    <table class="table table-bordered table-hover" style="border-spacing:5px;">
        <thead style="background:lightgray">
            <tr>
                <th>
                    Aeropuerto
                </th>
                <th>
                    Terminales
                </th>
                <th>
                    Pistas
                </th>
                <th>
                    Capacidad
                </th>
            </tr>
        </thead>
        @foreach (var envio in Model)
        {
            <tr>
                <td>
                    <p>@envio.codPuerto</p>
                </td>
                <td>
                    <p>@envio.terminalesAeropuerto</p>
                </td>
                <td>
                    <p>@envio.PistasAeropuerto</p>
                </td>
                <td>
                    <p>@envio.capacidadAeropuerto</p>
                </td>               
            </tr>
        }
    </table>
</div>

