@model IEnumerable<bd1.Models.Cliente>

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("MenuSuperior");
<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>CLIENTES</b></p>
</div>

@using (Html.BeginForm("BuscarCliente", "Cliente",
           FormMethod.Post))
{
    @Html.Action("TBCliente");
    <input type="submit" value="Buscar" />
    <input type="button" style="float:right" value="Eliminar Cliente"
           onclick="location.href='@Url.Action("EliminarCliente", "Cliente")'" />
    <input type="button" style="float:right; margin-right:1%" value="Agregar Cliente"
           onclick="location.href='@Url.Action("AgregarCliente", "Cliente")'" />
}
<br />
<div class="jumbotron">
    <table class="table table-bordered table-hover" style="border-spacing:5px;">
        <thead style="background:lightgray">
            <tr>
                <th>
                    Cedula
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
            </tr>
        </thead>

        @foreach (var oficina in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@oficina.CI.ToString(), "ModificarCliente", "Cliente", new { id = @oficina.CI }, null)
                </td>
                <td>
                    <p>@oficina.Nombre</p>
                </td>
                <td>
                    <p>@oficina.Apellido</p>
                </td>
                
            </tr>
        }

    </table>
</div>



