@model bd1.Models.Pago

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>DETALLES DEL ENVIO</b></p>
</div>
<div class="jumbotron">
    <h2>Informacion del Pago</h2>
    <br />
    @using (Html.BeginForm("RegresoDetallesEnvio", "EnviarPaquete",
    FormMethod.Post))
    {
        @Html.Action("EnvioDetalleTB", "EnviarPaquete")
        <p>
            Codigo del pago:
            @Html.EditorFor(m => m.cod, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
        </p>
        <p>
            Monto Total:
            @Html.EditorFor(m => m.montoTotal, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
        </p>
        <p>
            Fecha del pago:
            @Html.EditorFor(m => m.fecha, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
        </p>
        <p>
            Pago en Destino:
            @Html.EditorFor(m => m.pagoEnDestino, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
        </p>
        <p>
            Metodo de pago:
            @Html.EditorFor(m => m.metodoPago, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
        </p>      
        <div>
            <input type="submit" value="Regresar" />
        </div>
    }
</div>








